@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
	height: 100vh;
	color: rgb(241, 241, 241);
	background: rgba(0, 140, 175, 0.514);
	font-family: "Roboto", sans-serif;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 10px 2fr 1fr;
	grid-template-areas:
		". . ."
		". cards ."
		". chat .";
}

.cards {
	grid-area: cards;
	display: grid;
	margin-bottom: 15px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "playerone playertwo";
}

.chat {
	grid-area: chat;
}

#playerone {
	grid-area: playerone;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 10px 1fr 10px 2fr 10px 2fr;
	grid-template-areas:
		"p1header"
		"hrone"
		"p1name"
		"hrtwo"
		"p1options"
		"hrthree"
		"p1scores";
}

#playeroneheader {
	grid-area: p1header;
}

#hrone {
	grid-area: hrone;
}

#playeronename {
	grid-area: p1name;
}

#hrtwo {
	grid-area: hrtwo;
}

#playeronescores {
	grid-area: p1scores;
}

#hrthree {
	grid-area: hrthree;
}

#playeroneoptions {
	grid-area: p1options;
}

#playertwo {
	grid-area: playertwo;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 10px 1fr 10px 2fr 10px 2fr;
	grid-template-areas:
		"p2header"
		"hrfour"
		"p2name"
		"hrfive"
		"p2options"
		"hrsix"
		"p2scores";
}

#playerptwoheader {
	grid-area: p1header;
}

#hrfour {
	grid-area: hrfour;
}

#playertwoname {
	grid-area: p2name;
}

#hrfive {
	grid-area: hrfive;
}

#playertwoscores {
	grid-area: p2scores;
}

#hrsix {
	grid-area: hrsix;
}

#playertwooptions {
	grid-area: p2options;
}

/* 
 end of css grid

*/

.playercards {
	background-color: rgb(68, 68, 68);
}

.cardheader {
	display: flex;
	justify-content: center;
	align-items: center;
}

.names {
	display: flex;
	justify-content: center;
	align-items: center;
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

}

.scores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
}


#playerone {
	margin-right: 10px;
	/* shadow */
	-webkit-box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
	/* raidus border */
	border-radius: 71px 10px 10px 71px;
	-moz-border-radius: 71px 10px 10px 71px;
	-webkit-border-radius: 71px 10px 10px 71px;
}

#playertwo {
	margin-left: 10px;
	/* shadows */
	-webkit-box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
	/* raidus border */
	border-radius: 10px 71px 70px 0px;
	-moz-border-radius: 10px 71px 70px 0px;
	-webkit-border-radius: 10px 71px 70px 0px;
}

.hr_style1 {
	width: 90%;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.616);
	border-bottom: 1px solid rgba(255, 255, 255, 0.76);
}

.hr_style2 {
	width: 80%;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* 
CHAT DISPLAY
*/

#chatid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.chat {
	margin: 10px;
}


.chat_display {
	width: 100%;
	height: 150px;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	overflow-y: scroll;
	padding: 8px 24px;
	color: black;
	background: rgb(226, 226, 226);
	border: 0;
}

.chat form {
	width: 100%;
	margin-left: 10%;
	margin-right: 10%;
}

.chat input {
	height: 20px;
	width: 80%;
}

.chat button {
	height: 25px;
	width: 17%;
	border: 0;
	margin: 0;
	border-radius: 0px;
	color: rgb(0, 140, 175);
	background: rgb(243, 243, 243);
}

.chatline {
	height: 20px;
	display: flex;
	flex-wrap: nowrap;
}

.chatline .cname {
	text-transform: capitalize;
	margin-right: 10px;
}

/* 
hard hearder
*/

.cardheader {
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(0, 140, 175);
}

/* 
names div
*/

.names {
	flex-wrap: wrap;
}

#name_form {
	width: 80%;
}

#name_form input {
	padding-left: 5px;
	height: 20px;
	width: 70%;
}

#name_form button {
	height: 26px;
	width: 25%;
	border: 0;
	border-radius: 4px;
	color: white;
	background: rgb(0, 140, 175);
}

#playeronename input {
	border-radius: 10px 0px 0px 4px;
	-moz-border-radius: 10px 0px 0px 4px;
	-webkit-border-radius: 10px 0px 0px 4px;
}

#playeronename button {
	border-radius: 0px 19px 19px 0px;
	-moz-border-radius: 0px 19px 19px 0px;
	-webkit-border-radius: 0px 19px 19px 0px;
}


#playertwoname input {
	border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
}

#playertwoname button {
	border-radius: 0px 19px 10px 0px;
	-moz-border-radius: 0px 19px 10px 0px;
	-webkit-border-radius: 0px 19px 10px 0px;
}

/* 
options
*/
.options {
	margin-top: 5px;
}

.option {
	width: 80%;
	background: rgb(160, 160, 160);
	border: 1px solid rgba(1, 8, 48, 0.158);
	transition: width .3s;
	border-radius: 10px;
	cursor: pointer;
}

.option p {
	text-align: center;
}

.option:hover {
	color: rgb(0, 140, 175);
	width: 90%;
}


@media only screen and (max-width: 980px) {
	body {
		grid-template-columns: 10% 80% 10%;
	}
}


@media only screen and (max-width: 680px) {
	body {
		grid-template-columns: 1% 98% 1%;
	}
}